{{ $invitation := .Get 0 }}
{{ $add_size := .Get 1 }}
<code>
  <a style="font-size:{{ $add_size }}px ;" href="https://discord.gg/{{ $invitation }}">https://discord.gg/{{ $invitation }}</a> 
  </code>
